<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <style>
        .url {
            margin-bottom: 20px;
            font-size: 25px;
            
        }
        .url a {
            color: #b78200;
        }
        
        .list_urls_text {
            font-size: 30px;
        }
        
        body {
            margin-left: 40px;
            margin-top: 40px;
        }
        
    </style>
</head>
<body>
<div>
    <h1>Извините, данной страницы не найдено</h1>
    <p class="list_urls_text">Выберите из списка следующую: </p>
</body>
</html>