<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/css/index.css">
    <style>
        .container_index {
            display: flex;
            align-items: center;
        }
        
        .container_index div {
            margin-right: 40px;
        }
        
        .avatar {
            width: 400px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<h2>Главная страница</h2>
<h3>Привет, {{ name }}!</h3>
<div class="container_index">
    <div>
        <a href="home/">Сходи на домашнюю страницу</a>
    </div>
    <div>
        <img class="avatar" src="static/img/1DFd3ui6qy4.jpg" alt="">
    </div>
</div>
</body>
</html>